* {
  all: unset;
  /* font-family: arial */ }

button {
  padding: unset;
  background-image: unset;
  border: unset;
  box-shadow: unset;
  color: unset;
  min-width: 0; }

.bg.top {
  transition: 50ms;
  min-height: 20px; }
  .bg.top.active {
    background: linear-gradient(to bottom, cyan, rgba(0, 255, 255, 0)); }

.bg.bottom {
  transition: 50ms;
  min-height: 20px; }
  .bg.bottom.active {
    background: linear-gradient(to top, cyan, rgba(0, 255, 255, 0)); }

.bar {
  min-width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid cyan;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 255, 255, 0.5); }
  .bar.left {
    margin-left: 5px;
    margin-right: 10px; }
  .bar.right {
    margin-left: 10px;
    margin-right: 5px; }

.bg {
  /* margin: 20px 20px; */
  min-height: 20px; }

.audio-visualizer {
  min-width: 55px; }

.taskbar {
  transition: 100ms; }
  .taskbar .workspace {
    margin: 10px 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 200ms; }
    .taskbar .workspace > label {
      font-size: 25px;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 4px; }
    .taskbar .workspace.active {
      border: 1px solid cyan;
      background: rgba(0, 255, 255, 0.1); }
      .taskbar .workspace.active > label {
        color: cyan; }

.client {
  border-radius: 10px;
  padding: 5px;
  /* background-color: lightslategray; */ }
  .client.active {
    -gtk-icon-shadow: 0 5px rgba(0, 255, 255, 0.9); }
  .client > button {
    -gtk-icon-shadow: 0 2px rgba(0, 255, 255, 0.8);
    transition: 100ms; }
    .client > button:hover {
      -gtk-icon-effect: highlight; }
    .client > button:active {
      -gtk-icon-effect: dim;
      /* -gtk-icon-shadow: -4px 2px rgba(aqua, 0.8); */
      transition: 50ms; }

.special.taskbar {
  margin: 10px 0; }
  .special.taskbar .client {
    transition: 200ms;
    margin: 4px 0;
    border: 1px solid transparent; }
    .special.taskbar .client.active {
      border: 1px solid cyan;
      background: rgba(0, 255, 255, 0.1); }

.systray {
  margin: 10px 0; }
  .systray .tray-item {
    margin: 3px;
    padding: 3px;
    border-radius: 4px;
    border: 0.8px solid cyan;
    /* background: linear-gradient(to top, rgba(aqua, 0.4), transparent); */
    /* padding: 3px; */ }

.clock {
  margin: 1em 4px;
  font-size: 15px; }
  .clock > label {
    margin: 4px 0; }
  .clock .clock-time {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 15px;
    /* padding-bottom: 6px; */ }
  .clock .clock-weekday {
    margin-top: 8px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold; }

calendar {
  all: unset;
  /* font-size: 0px; */
  padding: 0px; }
  calendar .month {
    font-size: 0px; }

.system-info {
  margin: 10px 0;
  padding: 5px; }

.circular-progress {
  min-width: 40px;
  font-size: 5px;
  margin: 0px;
  color: cyan;
  /* border: 1px solia aqua; */
  /* color: linear-gradient(to top, rgba(aqua, 0.6), transparent); */
  background-color: lightslategray; }

.nerd-icons {
  font-family: "Fira Code Nerd Font Mono";
  font-size: 30px; }

.tray-button {
  margin: 8px 5px; }

separator {
  background: cyan; }

progressbar {
  background-color: rgba(17, 20, 44, 0.8);
  border-radius: 15px; }

progressbar trough, progress {
  min-height: 20px;
  /* border-radius: 20px; */ }

progressbar progress {
  background-image: linear-gradient(to top, rgba(0, 0, 255, 0.1), rgba(0, 255, 255, 0.8));
  /* border-top: 3px solid yellow; */ }

separator {
  margin: 0 7px;
  /* color: $fg; */
  /* background-color: $fg; */ }

menu {
  color: cyan;
  background-color: rgba(17, 20, 44, 0.8);
  font-size: 20px;
  /* margin: 10px; */
  border: 1px solid cyan;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 255, 255, 0.5); }
  menu separator {
    background-color: cyan;
    /* padding: 10px 0px; */ }
  menu menuitem {
    margin: 3px 0px;
    padding: 0px 10px; }
    menu menuitem:hover {
      background-color: rgba(0, 255, 255, 0.5); }

tooltip {
  font-size: 20px;
  color: cyan;
  background-color: rgba(17, 20, 44, 0.8);
  border: 1px solid cyan;
  border-radius: 5px; }
